<div class='row justify-content-md-center'>
  <div class="text-center col-md-4">
    <div class="form-signin text-center">
      <h2 class="h3 mb-3 font-weight-normal">Edit <%= current_user.fullname %></h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.text_field :fullname, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Full Name' %>
        </div>

        <div class="form-group">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Email' %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'New Password' %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>

        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
        </div>

        <div class="form-group">
          <%= f.password_field :current_password, autocomplete: "off", class: 'form-control', placeholder: 'Current Password' %>
        </div>

        <div class="form-group">
          <%= f.submit "Update", class: 'btn btn-md btn-primary' %>
          <%= link_to 'Cancel', root_path, class: 'btn btn-md btn-danger' %>
        </div>
      <% end %>
    </div>
  </div>
</div>