<div class="form-signin">
  <div class="text-center mb-4">

    <h2>Edit <%= current_user.email.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-label-group">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-group' %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-label-group">
        <%= f.password_field :password, autocomplete: "off", class: 'form-group' %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="form-label-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-group' %>
      </div>

      <div class="form-label-group">
        <%= f.password_field :current_password, autocomplete: "off", class: 'form-group' %>
      </div>

      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    <% end %>
  </div>
</div>