<nav class="navbar navbar-expand-md navbar-light" style="background-color: #ddd;">
  <%= link_to 'Alien',root_path, class: 'navbar-brand' %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <% if (user_signed_in?)%>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag avatar_url(current_user), class: 'rounded-circle', height: '28' %>&nbsp;
            <%= current_user.fullname %>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <%= link_to(edit_user_registration_path, {class: 'dropdown-item'}) do %> 
              <i class="far fa-user"></i> Edit Profile
            <% end %>
            <%= link_to(your_trips_path, {class: 'dropdown-item'}) do %>
              <i class="fas fa-suitcase"></i> Your Trips
            <% end %>
            <%= link_to(rooms_path, {class: 'dropdown-item'}) do %>
              <i class="far fa-building"></i> Your Listings
            <% end %>
            <%= link_to(your_reservations_path, {class: 'dropdown-item'}) do %>
              <i class="far fa-list-alt"></i> Your Reservations
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to(destroy_user_session_path, {class: 'dropdown-item text-danger', method: :delete }) do %>
              <i class="fas fa-sign-out-alt"></i> Log out
            <% end %>
          </div>
          <li class='nav-item nav-link'>
            <%= link_to({class: 'nav-link text-promary'}) do %>
            <i class="far fa-fw fa-envelope"></i>Message
            <% end %>
          </li>
          <li class='nav-item'>
            <%= link_to(new_room_path, {class: 'nav-link text-info'}) do %>
            <i class="fas fa-home fa-fw"></i>Become A Host</a>
            <% end %>
          </li>
        </li>
      <% else %>
        <li class='nav-item'>
          <%= link_to(new_user_session_path, {class: 'btn btn-outline-dark'}) do %>
            <i class="fas fa-sign-in-alt"></i> Log in
          <% end %>
        </li>
        <li class='nav-item'>
          <%= link_to(new_user_registration_path, {class: 'btn btn-outline-dark'}) do %>
            <i class="fas fa-user-plus"></i> Sign up
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>