<div class="row">
	<div class="col-md-3">
		<div class="nav flex-column nav-pills">
			<%= link_to 'Your Listings', rooms_path, class: "nav-link active" %>
			<%= link_to 'Your Reservations', rooms_path, class: "nav-link" %>
		</div>
	</div>
	<div class="col-md-9">
		<div class="card">
			<div class="card-head">
				Listings
			</div>
			<div class="card-body">
				<% @rooms.each do |room| %>
				<div class="row">
					<div class="col-md-2">
						<%= image_tag (room.images.first.photo_url(:preview).to_s) if room.images.length > 0 %>
					</div>
					<div class="col-md-7">
						<h3><%= room.listing %></h3>
					</div>
					<div class="col-md-3">
						<%= link_to "Update", edit_room_path(room), class: "btn btn-danger" %>
					</div>
				</div>
				<hr/>
				<% end %>
			</div>
		</div>
		
	</div>
</div>